<% include header %>

<div class="index-content">
    <div class="right-content">
        <h2>主页</h2>
        <% if(global.islogin){ %>

        <div>当前用户：<%= test %></div>

        <% }else{ %>

        <p><a href="/login">登录</a></p>

        <% } %>
    </div>
</div>
<div class="index-backg-div"></div>

<% include footer %>