
<% include ../header %>
<div class="user-index">
    <div class="list-title">
        <span class="title">
            用户列表
        </span>
        <span class="add-user">
            <a href="User/new">添加用户</a>
        </span>
    </div>
    <div class="table">
        <ul class="table-header ul-table">
            <li>
                用户名
            </li>
            <li>
                密码
            </li>
            <li>
                操作
            </li>
        </ul>
        <% for(var i = 0, l = users.length;i < l;i++){ %>
        <ul class="table-body ul-table">
            <li>
                <%= users[i].username %>
            </li>
            <li>
                <%= users[i].password %>
            </li>
            <li class="btn" data-id="<%= users[i]._id %>">
                <a href="User/<%= users[i]._id %>">查看</a>
            </li>
        </ul>
        <% } %>
    </div>
</div>
<% include ../footer %>

