
<% include ../header %>
<div>
    <h2>Index</h2>
    <h1>用户列表</h1>
    <span>
        <a href="User/new">添加用户</a>
    </span>
    <table>
        <tr>
            <td>
                用户名
            </td>
            <td>
                操作
            </td>
        </tr>
        <% for(var i = 0, l = users.length;i < l;i++){ %>
        <tr>
            <td>
                <%= users[i].username %>
            </td>
            <td class="btn" data-id="<%= users[i]._id %>">
                <a href="User/<%= users[i]._id %>">查看</a>
            </td>
        </tr>
        <% } %>
    </table>
</div>
<% include ../footer %>

