body {
    margin: 0;
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #EDEDED;
    font-family: '微软雅黑';
}

a {
    color: #0AE;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

/*header*/
header {
    background-color: #000000;
    height:50px;
    line-height: 50px;
}

header .title {
    width: 990px;
    margin: 0 auto;
}

.title ul {
    list-style-type: none;
    color: #0AE;
}

.title ul.left {
    float: left;
}

.title ul.right {
    float: right;
}

.title ul.right li {
    display: inline-block;
    width: 55px;
    text-align: center;
}

/*login*/
.login-box {
    width: 990px;
    min-height: 450px;
    margin: 0 auto;
    padding: 50px 0;
}

.login-box .login-content {
    float: right;
    width: 267px;
    background-color: rgba(0, 0, 0, 0.21);
    margin: 27px 95px;
}

.login-box .web-link{
    font-size:14px;
    height:40px;
    line-height: 40px;
}

.backg-div {
    background: url("../image/login-back-img.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.reg-backg-div {
    background: url("../image/reg-back-img.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.index-backg-div{
    background: url("../image/index-back-img.jpg") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.login-box div.login-title{
    padding:26px 0 16px;
    font-weight: 500;
    width:100%;
    text-align: center;
    color: #ffffff;
    font-size:18px;
}

.login-box div .txt {
    display:inline-block;
    background-color: #999;
    color: #ffffff;
    width: 60px;
    height:40px;
    line-height: 40px;
    text-align: center;
    font-size:14px;
}

.login-box div .ipt {
    display:inline-block;
    width: 170px;
    height:30px;
    line-height: 40px;
    text-align: center;
    background-color: #ffffff;
    padding:5px;
}

.login-box div .ipt input{
    border:0;
    width:160px;
    height:30px;
    line-height: 30px;
    outline-style: none;
}



.login-box div{
    text-align: center;
    font-size:0;
}

.login-box .user-name {
    height:40px;
    line-height: 40px;
    padding:5px 0;
}

.login-box .btn{
    height:60px;
    line-height: 60px;
}

.login-box .btn input{
    width:240px;
    height:40px;
    background-color: #3393ff;
    border:0;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.login-box .pass-word {
    height:40px;
    line-height: 40px;
    padding:5px 0;
}

/*index*/
.index-content{
    width:990px;
    margin:100px auto;
    padding:50px 100px;

    position: relative;
}

.index-content .right-content{
    position: absolute;
    width:200px;
    /*height:80px;*/
    padding:20px;
    background-color: rgba(0, 0, 0, 0.21);
    top:0;
    right:105px;
}


.user-index{
    width:990px;
    margin:0 auto;
}

.user-index .list-title{
    width:400px;
    padding-top:35px;
}
.user-index .list-title .title{
    font-size:16px;
}

.user-index .list-title .add-user{
    float:right;
    font-size:12px;
}














/*模拟table样式*/
.table{
    width:400px;
}

.table .ul-table{
    width:500px;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.table .ul-table li{
    color:#fff;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    top: 0;
    font-family: "微软雅黑";
    text-align: center;
}

.table .table-header{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #595f65 0%, #282f36 63%, #3d464d 100%) repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 0 3px rgba(255, 255, 255, 0.2) inset;
}

.table .ul-table:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.table ul.table-header li{
    border: medium none;
    border-radius: 0;
    font: 15px/41px "微软雅黑",sans-serif;
    background: rgba(0, 0, 0, 0) url("../image/subnav-border.png") no-repeat scroll right center;
    width:93px;
    height:34px;
    padding:0 20px 6px;
}

.table ul.table-body{
    margin-top:2px;
    background-color: #515c65;
}

.table ul.table-body li{
    width:93px;
    height:24px;
    font: 15px/28px "微软雅黑",sans-serif;
    background-color: #515c65;
    padding:0 20px 6px;
}

.table ul.ul-table:nth-child(even){
    background-color:#3f4852;
}

.table ul.ul-table:nth-child(even) li{
    background-color:#3f4852;
}